/* li{
    /* list-style-type: none; */
    /* list-style-type: disc; */
    /* list-style-type: circle; */
    /* list-style-type: square;
} */

/* for order list ol*/


 ol li{
    /* list-style-type: upper-roman; */
    /* list-style-type: lower-roman; */
    /* list-style-type: upper-alpha; */
    /* list-style-type: lower-alpha; */
    /* list-style-type: lower-greek; */
    /* list-style-type: decimal-leading-zero; */
    list-style-type: decimal;
    /* list-style-image: url("./Madina\ Al\ Munawara.png"); */

 }

  /* i am learning list-style-position */
 ul{
    /* list-style-image: url("./"); */
    /* list-style-position: inside; */
    /* list-style-position: outside; */
 }

 /* shorthand list-style */
 ul{
    /* list-style: circle inside  ; */
 }

 table properties */

 table {
    width: 100%;
    border-width: 1px soliud black;
   background-color: aquamarine;
    border-spacing: 30px;
 }
table, th, td {
  border: 1px solid black;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 10px;
  font-size:30px;
  empty-cells: inherit;
  
   
 } 
 tr:hover{
    color: chartreuse; 
    background-color: black;
} 


/* form propereties */
form{
    width: 250px;
    display:flex;
    flex-direction: column;
    gap: 20px; 
}
input label{
    display: flex;
}
label    {
    display: flex;
  /* display: inline; */
align-items: start;
 
} 
button{
    width:60px;
    text-align: right;
    float: right;
    background-color: aqua;
}

/* list again practice */

 ul li{
  /* list-style-image: url("./Madina\ Al\ Munawara.png"); */
list-style-position: outside;
}

ol li{
    list-style:inside circle;
}


/* table properties css again */


table{
    width: 60%;
    border: 2px solid black;
    padding: 20px;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-size: 20px;
    border-top: 5px solid black;
    border-bottom: 10px solid black;
    text-align: center;
    background-color: aqua;
    empty-cells: hide;

}
table:hover{
    color: white;
    background-color: black;
}
tr , td {
padding: 10px;
}
