* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: sans-serif; */


}
/* box model correct syntax */
*{
    box-sizing: border-box;
}


/* declaration block { everything inside it } */


p {
    /* color: whitesmoke; */
}
@font-face{
    font-family:'myFont';  
    src: url('./font/Lobster/Lobster-Regular.ttf')format('truetype');
}
p{
    font-family: myfont ;
  word-spacing: 10px;
  text-align: right;
  text-shadow: 3px 3px 5px greenyellow;
}

/* @font-face  {
    font-family: 'LobsterFont';
    src: url('./font/Lobster/Lobster-Regular.ttf')format('truetype');  
}
p{
    font-family:'LobsterFont';
}

/* css selector */

/* universal selector */

/* example */
/* 
*{
    text-align: center;
} */

/* applies to all element in the document */ 

/* element selector */
/* 
p{
    color: blue; 
} */


/* id selector */
/* 
#unique{
    color: seagreen;
} */
/* child selector */
li>a  {
    font-weight: bold;
    color: tomato;
    text-decoration: none;
    font-size: 40px;
}
/* Descendant Selector */
div p {
  color: blue;
}

/* Child Selector */
/* div > p {
  color: red;
} */

img{
    
    opacity: 0.2 ;
} 

ul li{
    font-family:monospace;
    font-weight: medium;
    font-style:normal ;
    text-transform: lowercase;
    text-decoration:  none;
    line-height: 40px;

}
/* text-shadow end */


a:link {
    color: aqua !important;
}
a:visited{
    color: purple !important;
}
/* a:link{
   color: aqua;
   font-size: 1`00px;
}
/* a:visited{
    color: green;
} */
/* 
a:active {
color: darkcyan; */
/* font-size: 50px; */
/* } */  

a:link { color: blue; }      /* Unvisited link */
a:visited { color: purple; } /* Visited link */
a:hover { color: red; }      /* When mouse is over */
a:active { color: darkcyan; }/* When clicked */
a:link

{
    color: aqua;
}

a:visited{
    color: red;
}


a:hover{
    color: honeydew;
}
a:active{
    color: darkcyan;
}


button:hover{
background-color: yellow;
}

button:active{
color: red;
background-color: chartreuse;
border-radius: 50px;
}

input:focus{
    color: blue;
    border: 4px solid black;
}

div{
    border: 2px solid black;
    margin: 10px ;
}
/* div::after{
    content: " - I am after pseudo element ";
    color: red;
    font-size: 20px;
} */
/* am today learning  flexbox*/
/* div{
    display: inline;
} */
/* span {
    display: none; changes inline span to block
    background: lightblue;
    margin: 5px 0;
  } */



  /* hiding boxes */

  span{
    visibility:  visible;
    background-color: black;
  }

  p{
    border: 10px solid transparent;
    border-image-source: url(./flying-macaw-parrot-isolated-transparent-background-png-psd_888962-1748.jpg);
 border-image-slice: 9;
 border-image-width: 5px;
 border-image-repeat: repeat;
  }
  /* i am learning box shadow */
  .box{
    width: 100px;
    height: 100px;
    border: 2px solid black;
    background-color: lime;
    margin: 100px;
    box-shadow: 10px 10px 10px 5px;


  }
  .box-2{
    width: 100px;
    height: 100px;
    border: 2px solid black;
    background-color: lime;
    margin: 100px;
    /* box-shadow: 10px 10px 10px 5px; */
  border-radius : 20px 10px 20px 10px ;

  }

  div.sizing{
    box-sizing: border-box;
    padding: 10px;
  }

   p:nth-child(1){
    color: blue;
   }
   
  
